<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.ArticleMapper">
    <insert id="addNewArticle" parameterType="org.sang.bean.Article" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article SET title=#{title},mdContent=#{mdContent},htmlContent=#{htmlContent},summary=#{summary},cateName=#{cateName},nickname=#{nickname},publishDate=#{publishDate},state=#{state},editTime=#{editTime}
    </insert>
    <update id="updateArticle" parameterType="org.sang.bean.Article">
        UPDATE article SET
        title=#{title},mdContent=#{mdContent},htmlContent=#{htmlContent},summary=#{summary},cateName=#{cateName},nickname=#{nickname},editTime=#{editTime}
        <if test="state==1">
            ,state=1
        </if>
        <if test="publishDate!=null">
            ,publishDate=#{publishDate}
        </if>
        WHERE id=#{id}
    </update>
    <select id="getArticleByState" resultType="org.sang.bean.Article">
        SELECT a.id,a.`title`,a.`editTime`,a.`pageView`,a.`state`,a.`cateName`,a.`nickname` FROM article a
        <if test="state!=-1 and state!=-2">
            WHERE a.state=#{state}
        </if>
        <if test="state==-2">
            WHERE a.state=1
        </if>
        <if test="keywords!=null">
            <where>
                <if test="state!=-1 and state!=-2">
                    and a.state=#{state}
                </if>
                <if test="state==-2">
                    and a.state=1
                </if>
                AND title LIKE concat('%',#{keywords},'%')
            </where>
        </if>
        ORDER BY a.editTime DESC limit #{start},#{count};
    </select>
    <select id="getArticleByStateByAdmin" resultType="org.sang.bean.Article">
        SELECT a.id,a.`title`,a.`editTime`,a.`pageView`,a.`state`,a.`cateName`,a.`nickname` FROM article a WHERE a.state=1
        <if test="keywords!=null">
            AND title LIKE concat('%',#{keywords},'%')
        </if>
        ORDER BY a.editTime DESC limit #{start},#{count};
    </select>
    <select id="getArticleCountByState" resultType="int">
        SELECT count(*) FROM article
        <where>
            <if test="state!=-1">
                AND state=#{state}
            </if>
            <if test="keywords!=null">
                AND title LIKE concat('%',#{keywords},'%')
            </if>
        </where>
    </select>
    <update id="updateArticleState">
        UPDATE article SET state=#{state} WHERE id IN
        <foreach collection="aids" item="aid" separator="," open="(" close=")">
            #{aid}
        </foreach>
    </update>
    <update id="updateArticleStateById" >
        UPDATE article SET state=#{state} WHERE id = #{articleId}
    </update>
    <delete id="deleteArticleById">
        DELETE FROM article WHERE id IN
        <foreach collection="aids" item="aid" open="(" close=")" separator=",">
            #{aid}
        </foreach>
    </delete>
    <select id="getArticleById" parameterType="Long" resultType="org.sang.bean.Article">
        SELECT a.* FROM article a WHERE a.id=#{aid}
    </select>

    <insert id="pvStatisticsPerDay">
        INSERT INTO pv(countDate,pv,uid) SELECT CURRENT_DATE(),totalPv-pv,t.`uid` FROM pvview p,totalpvview t WHERE p.`uid`=t.`uid`
    </insert>

    <select id="getCategories" resultType="String">
        SELECT countDate from pv ORDER by countDate limit 7
    </select>
    <select id="getDataStatistics" resultType="int">
        SELECT pv from pv ORDER by countDate limit 7
    </select>
    <select id="getTotalPV" resultType="int">
        SELECT SUM(pv) from pv
    </select>

    <select id="getLatestArticles" resultType="org.sang.bean.Article">
        SELECT a.id, a.title, a.cateName, a.nickname, a.publishDate FROM article a 
        WHERE a.state = 1 
        ORDER BY a.publishDate DESC 
        LIMIT #{count}
    </select>
</mapper>